/*  common use CSS  */

body {
    width: 100%;
    height: auto;
    background: #F2F2F2;
}

table {
  background-color: transparent;
}

a {
    text-decoration: none;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

textarea {
    resize: none;
}

th {
  text-align: left;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  textarea {
    width: 150px;
    height: 25px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  textarea {
    width: 200px;
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  textarea {
    width: 300px;
    height: 50px;
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  color: black;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

/*  CSS for manage page */

#form-container {
    margin: 0 auto;
    padding-top: 200px;
}

#form-container tbody {
    background: #fff;
}

#new-form {
    width: 40%;
    height: 100px;
    margin: 0 30%;
}

#header-nav {
    background: orange;
}

.pink {
    background: #F8E0E0;
}

.warning {
    background: #f0ad4e;  
}

.disabled {
    color: #D8D8D8;
}

body {
    height: 100%;
}

.overlay-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}
.hide {
    display: none!important;
}

#home-bottom {
    background: #fff;
    padding: 10px 7px;
}

#home-bottom button {
    margin: 0 10px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    /* width: 600px; */
    margin: 0 auto;
    display: flex;
    height: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    width: 600px;
    z-index: 20;
}

.modal .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop .fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop .in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

#new-form1 {
    float: right;
}

/*  CSS for edit page */

#edit-container {
    width: 50%;
    height: auto;
    margin: 50px auto;
    background: white;
}

#form-title {
    width: 80%;
    height: 50px;
    margin: 10px auto;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    
}

.question-title {
    padding: 10px 0;
    font-weight: bold;
}

.question-title input {
    font-weight: bold;
    border: 0;
    font-size: 16px;
}

.question {
    padding: 0 20px;
    overflow: hidden;
}

.question-operation {
    float: right;
    margin-bottom: 10px;
}

.question-operation span {
    cursor: pointer;
}

.question-operation span:hover {
    background: red;
}

.select-options {
    margin: 10px 20px;
}

.select-options input {
    border: 0;
    font-size: 14px;
}

.op-chose {
    float: right;
    margin: 0 5px;
}

.op-chose:hover {
    background: red;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#main-add {
    border: 1px solid #D8D8D8;
}

#add-container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    border-top: 2px solid #D8D8D8; 
    border-bottom: 2px solid #D8D8D8; 
}

#add-container-inside {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

#add-type {
    width: 50%;
    margin: 10px auto;
}

#add-type button {
    margin: 0 5px;
}

#add-question {
    width: 100%;
    border: 0;
    background: #E6E6E6;
}

#question-container {
    width: 100%;
}

.isMust {
    float: right;
    font-weight: auto;
}

#edit-btn1, #edit-btn2 {
    width: 12%;
    margin: 10px 0;
}

#edit-btn1 {
    margin-left: 35%;
    margin-right: 1%;
}

#edit-btn2 {
    margin-left: 1%;
    margin-right: 35%;
}

/*  CSS for view page */

#view-wrapper {
    width: 80%;
    height: auto;
    margin: 50px auto;
    background: white;
}

#view-container {
    width: 80%;
    height: auto;
    margin: 20px auto;
}

#view-title {
    width: 80%;
    height: 50px;
    margin: 10px auto;
    padding-top: 20px;
    margin-left: 10%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 0;
}

#isMust1 {
    float: right;
}

/*  CSS for data page  */

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-danger {
    background-color: #d9534f;
}

#data-wrapper {
    width: 80%;
    height: auto;
    margin: 50px auto;
    background: white;
}

#data-container {
    width: 80%;
    height: auto;
    margin: 20px auto;
}

#data-btn {
    width: 10%;
    margin: 20px 45%;
}