
    <div class="container" id="data-wrapper" ng-init="init()">
        
        <div id="view-title">{{form.name}}</div>
        <div class="container" id="data-container">
            <div id="data-container-inside">
                <div id="question-container">
                    <div class="question" ng-class="{pink: isHover}" ng-mouseenter="isHover=true" ng-mouseleave="isHover=false" ng-repeat="question in form.questions track by $index">
                        <div class="question-title">
                            Q{{form.questions.indexOf(question) + 1}}&nbsp;&nbsp;{{question.title}}&nbsp;{{question.type == 3 ? '有效回答占比' : '数据占比'}}
                        </div>
                        
                        <div class="select-options" ng-repeat="option in question.chose" ng-show="question.type == 1">
                            {{option}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" ng-style="{width: {{(question.portion)[question.chose.indexOf(option)] * 100}} + '%'}">
                                    <div>{{((question.portion)[question.chose.indexOf(option)]) * 100}}%</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="select-options" id="pie{{form.questions.indexOf(question)}}" ng-init="getPie(question)" ng-show="question.type == 2" style="height:400px">
                            
                        </div>
                        
                        <div class="select-options" ng-show="question.type == 3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" ng-style="{width: {{(question.useful) * 100}} + '%'}">
                                    <div>{{(question.useful) * 100}}%</div>
                                </div>
                            </div>
                        </div>  
                        
                    </div>
                </div>   
            </div> 
        </div>
        <button class="btn btn-warning" id="data-btn" ui-sref="app"><i class="fa fa-angle-left fa-1x" aria-hidden="true"></i>&nbsp;返回</button>
    </div>