    
    <div class="container" id="edit-container" ng-init="init()">
    
        <input type="text" id="form-title" title="点击编辑标题" value="{{form.name}}" ng-model="form.name" ng-class="{pink: isHover}" ng-mouseenter="isHover=true" ng-mouseleave="isHover=false">
        <div class="container" id="add-container">
            <div id="add-container-inside">
                <div id="question-container">
                    <div class="question" ng-class="{pink: isHover}" ng-mouseenter="isHover=true" ng-mouseleave="isHover=false" ng-repeat="question in form.questions track by $index">
                        <div class="question-title">
                            Q{{form.questions.indexOf(question) + 1}}&nbsp;&nbsp;<input ng-class="{pink: isHover}" type="text" ng-model="question.title">
                            <span class="isMust" ng-show="question.type == 3"><input type="checkbox" name="question.title" ng-model="question.isMustAnswer">此题是否必填</span>
                        </div>
                        
                        <div class="select-options" ng-repeat="option in question.chose">
                            <input type="radio" name="question.title" ng-show="question.type == 1">
                            <input type="checkbox" ng-show="question.type == 2">
                            <input ng-class="{pink: isHover}" type="text" ng-model="option">
                        </div>
                        
                        <div class="select-options" ng-show="question.type == 3">
                            <textarea ng-show="question.type == 3"></textarea>
                        </div>    
                        
                        <div class="question-operation" ng-show="isHover">
                            <span class="operation" ng-click="moveUpQuestion(question)">上移</span>
                            <span class="operation" ng-click="moveDownQuestion(question)">下移</span>
                            <span class="operation" ng-click="reuseQuestion(question)">复用</span>
                            <span class="operation" ng-click="deleteQuestion(question)">删除</span>
                        </div>
                    </div>
                </div>
                
                

                <div id="main-add">
                    <div id="add-type" ng-show="isAdd">
                        <button class="btn btn-default" ng-click="addOneSelect()"><i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp;单选</button>
                        <button class="btn btn-default" ng-click="addMutiSelect()"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;多选</button>
                        <button class="btn btn-default" ng-click="addTextSelect()"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;文本题</button>
                    </div>
                    <button class="btn btn-default btn-lg" id="add-question" ng-click="isAdd=true">添加问题</button>
                </div>    
            </div> 
        </div>
        <div id="input-div">
            <i class="fa fa-calendar fa-2x" id="icon" aria-hidden="true"></i>
            <input type="text" placeholder="点击选择截止日期" ng-click="showCalendar()" id="date-input" ng-model="endDate">
        </div>
        <button class="btn btn-default" id="edit-btn1" ng-click="uploadForm()" ui-sref="app">保存问卷</button>
        <button class="btn btn-warning" id="edit-btn2" ng-click="postForm()" ui-sref="app">发布问卷</button>
        
        <div class="modal" id="modal-cannot-edit" ng-show="modalShow">
            <div class="overlay-mask" id="overlay-mask-1" ui-sref="app"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span aria-hidden="true" ui-sref="app">&times;</span></button>
                        <h4 class="modal-title">错误</h4>
                    </div>
                    <div class="modal-body">
                        <p>问卷已{{form.status == "ended" ? "结束" : "发布"}}，不能再编辑了！</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger modal-func" ui-sref="app">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>