
    
    
    <div class="container" id="main-container">
        <table class="table" id="form-container" ng-show="isShow">
            <thead>
                <th>
                    <td>标题</td>
                    <td>最后修改时间</td>
                    <td>状态</td>
                    <td>操作<button type="button" class="btn btn-warning" ui-sref="app.edit" id="new-form1">新建问卷</button></td>
                </th>
            </thead>
            
            <tbody ng-init="init()">
                <tr ng-class="{pink: isHover}" ng-mouseenter="isHover=true" ng-mouseleave="isHover=false" ng-repeat="form in forms track by $index">
                    <td><input type="radio" id='radio{{form["_id"]}}' ng-click="radio[form._id]=true"></td>
                    <td>{{form["name"]}}</td>
                    <td>{{form["date"]}}</td>
                    <td ng-bind-html="statusHTML[form['status']]|trust2Html"></td>
                    <td>
                        <button type="button" class="btn btn-default" ng-class="{warning: radio[form._id], disabled: !radio[form._id]}" ng-disabled="!radio[form._id]" ui-sref="app.edit({id: form._id})" id='button-1-{{form["_id"]}}'>编辑</button>
                        <button type="button" class="btn btn-default" ng-class="{warning: radio[form._id], disabled: !radio[form._id]}" ng-disabled="!radio[form._id]" ng-click="clickDelete($event)" id='button-2-{{form["_id"]}}'>删除</button>
                        <button type="button" class="btn btn-default" ng-class="{warning: radio[form._id], disabled: !radio[form._id]}" ng-disabled="!radio[form._id]" ui-sref="app.{{jump[form['status']]}}({id: form._id})" id='button-3-{{form["_id"]}}' ng-bind-html="form['status']|statusFilter"></button>
                    <td>
                </tr>
                    
            </tbody> 
        </table>
        
        <div id="home-bottom" ng-show="isShow">
            <input type="radio" ng-click="selectAll()" id="select-all">
            <span>全选</span>
            <button type="button" class="btn btn-default" ng-class="{warning: isAll, disabled: !isAll}" ng-disabled="!isAll" ng-click="deleteAllShow=true" id='delete-all-button'>删除所有未发布问卷</button>
        </div>
        
        <button type="button" class="btn btn-warning" ui-sref="app.edit" id="new-form" ng-hide="isShow">新建问卷</button>
        
        <div class="modal" id="modal" ng-show="modalShow">
            <div class="overlay-mask" id="overlay-mask" ng-click="hideModal()"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span aria-hidden="true" ng-click="hideModal()">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <p>确认要删除此问卷？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning modal-func" ng-click="deleteCheck()">确定</button>
                        <button type="button" class="btn btn-default modal-cancel" ng-click="hideModal()">取消</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
        <div class="modal" id="modal-delete-all" ng-show="deleteAllShow">
            <div class="overlay-mask" id="overlay-mask-0" ng-click="hideDeleteAll()"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span aria-hidden="true" ng-click="hideDeleteAll()">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <p>确认要删除所有可删除问卷？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning modal-func" ng-click="deleteAllCheck()">确定</button>
                        <button type="button" class="btn btn-default modal-cancel" ng-click="hideDeleteAll()">取消</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
        <div class="modal" id="modal-cannot-delete" ng-show="modal2Show">
            <div class="overlay-mask" id="overlay-mask-1" ng-click="hideModal2()"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"><span aria-hidden="true" ng-click="hideModal2()">&times;</span></button>
                        <h4 class="modal-title">错误</h4>
                    </div>
                    <div class="modal-body">
                        <p>问卷非未发布状态，不能删除！</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger modal-func" ng-click="hideModal2()">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>